body{
    background-image:linear-gradient(0deg,blue,aquamarine);
    color:white;
    font: italic 16pt 'Roboto', sans-serif;
}
.nav-link{
        font: italic 16pt 'Courgette';
}
.content{
    border-radius:20px;
    padding:5px
}
.syllabus a{
    color:black;
}
cite{background-color:azure;color:blue;text-align: center;padding:20px;}
svg{
    background-color:blue;
    border-radius:20px;
    padding:5px;
    margin:5px;
}