.logo{
    height:100%;
}
#courses{
    font:20pt "Playfair Display"; 
    background-color:rgba(0,180,180,0.4);
}
form{
    float:right;
}
body{
    background:contain no-repeat url("../images/logo_transparent.png");
}